*.pyc
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache
autoregen.sh
config.log
config.status
configure
!*/configure
install-sh
missing
morituri.spec
py-compile
REVISION

# For Python development using Eclipse IDE
.project
.pydevproject
